# pxe menu #
## check syslinux for more information ##

## define title
pxe_menu_title      = CloudBoot
## define path for vesamenu and pxelinux.0
pxe_vesamenu	    = pxe/vesamenu.c32
pxelinux	    = pxe/pxelinux.0

## define timeout, prompt and noescape ...
pxe_timeout	    = 50
pxe_prompt	    = 0
pxe_noescape	    = 0

## define background
pxe_background      = pxe/cloudbootwp.png
ocs_background      = pxe/clonezillawp.png
drbl_background	    = pxe/drblwp.png
gparted_background  = pxe/gpartedwp.png

## define file to generate boot menu
boot_menu	    = BOOTMENU.php


# options for repository #
## local means private cloud for local company user ##
## nchc is main mirror in TAIWAN user               ##
## sf is sourceforge for global user                ##

# ex:
# supported_repo          = sf nchc local // if enable local
# repo_local_url          = 192.168.1.1   // give local address
# repo_local_path_iso     = iso_img       // give path name for iso files
# repo_local_path_kernel  = kernel_img    // another path name for kernel files
# repo_local_path_other	  = small_img     // other path name for freedos, memtest...

supported_repo		= sf nchc local
repo_local_url		= 127.0.0.1
repo_local_path		= cloudboot
repo_local_path_iso	= iso_img
repo_local_path_kernel	= kernel_img
repo_local_path_other	= small_img

### DON'T edit sf and nchc values ###
repo_sf_url		= prdownloads.sourceforge.net
repo_sf_path		= cloudboot
repo_sf_path_iso	=
repo_sf_path_kernel	=
repo_sf_path_other	=
repo_nchc_url		= cloudboot.nchc.org.tw
repo_nchc_path		= cloudboot
repo_nchc_path_iso	= iso_img
repo_nchc_path_kernel	= kernel_img
repo_nchc_path_other	= small_img

# should install drbl and run build-netinstall.sh #
enable_netinstall	= true 

# options for ipxe #
enable_custom_rom   = true
keep_ipxe_build_env = true

# default menu label #
# [ NCHC or SourceForge or Local ] list above
default_repository  = NCHC
# drbl, clonezilla, clonezilla-alternative, gparted
default_proj	    = drbl   
# stable, testing, unstable, none 
default_version	    = stable 
# i486, i686, amd64, none
default_arch	    = i686   

# debug and log 
enable_debug	= yes
enable_log	= yes
